package web_server

templ header(rcpt_addr string) {
	<div class="header">
		<a href="/">
			nthmail.xyz
		</a>
		<div class="header-addr">
			<p>inbox: </p>
			<button tooltip="Copied" id="mail-addr" onclick="navigator.clipboard.writeText(document.getElementById('mail-addr').innerText)">{ rcpt_addr }</button>
		</div>
	</div>
}
